
.container {
  composes: centeredContainer from '../../sharedStyles/styles.css'
}

.title {
  composes: largeHeader from '../../sharedStyles/styles.css'
}

.slogan {
  composes: smallHeader from '../../sharedStyles/styles.css'
}
